body {
  margin: 0;
  padding: 0;
}
.nav-bar{
  display: flex;
  background-color: rgb(3, 3, 43);
  width: 100%;
  position: relative;
  
}
.nav-heading{
  margin-top: 0px 0px;
  font-size: 45px;
  color: white;
}
.add-button{
  margin-top: 10px;
  color: rgb(3,3,43);
  background-color: white;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 60px;
  top: 20px;
}